@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #e0e5ec;
}

#center-text {
  margin: 12px;
}

.application-container {
  text-align: center;
  margin: 10px;
}

.feature-container {
  align-items: center;
  justify-content: center;
  margin: 5 px;
}

.feature-button {
  width: 140px;
  height: 40px;
  color: #fff;
  border-color: black;
  border-width: thin;
  border-radius: 7px;
  margin: 3px;
  padding-top: 50px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.feature-button {
  padding: 0;
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

.feature-button:hover {
  color: rgba(2, 126, 251, 1);
  border: none;
  background: transparent;
  box-shadow: none;
}

.feature-button:before,
.feature-button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgba(2, 126, 251, 1);
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.feature-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.feature-button:hover:before,
.feature-button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}